.signup_container{
	display:flex;
	position: absolute;
	top: 10%;
	right: 38%;
	left: 35%;
	flex-direction:column;
	text-align:center;
	align-items:center;
    background-color: rgb(108, 149, 163);

	
}
#email{
	margin:10px;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
}
#pass{
	margin:10px;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
}
#name{
	margin:10px;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
}
#remember{
	cursor: pointer;
}
button {
	margin:10px;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	cursor: pointer;

}